<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>PROBANDO!</h1>
    <% for(producto of title) { %>
    <p>Welcome to <%= producto.price %></p>
    <% } %>
    
  </body>
</html>
