/* === COLORES ===
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666666;
Gris claro: #ebebeb;
Verde: #39b54a;


=== TIPOGRAFÍAS ===
Familia: 'Roboto'
Versiones: 300, 400, 700


=== TAMAÑOS TIPOGRÁFICOS ===
Cuerpos de texto: 15px
Titulares: 24px


=== HEADER ===
Buscar productos, marcas y más
Comprá en cuotas y sin tarjeta de crédito


=== NAVBAR ===
Ofertas
Tiendas Oficiales
Vender
Ayuda
---
Creá tu cuenta
Ingresá
Mis compras


=== PRODUCTOS ===
Basado en tu última visita / Ofertas

$6.770
40% OFF
Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.

$150.970
10% OFF
Macbook Pro 2019 Lorem ipsum, dolor sit amet.

$54.230
Televisor Samsung Smart TV Lorem ipsum, dolor sit amet.

$89.410
20% OFF
Samsung Galaxy s10 Lorem ipsum, dolor sit amet.


=== FOOTER ===
Pagá con tarjeta o en efectivo
Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!

Envío gratis desde $ 1.999
Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.

Seguridad, de principio a fin
¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.

Copyright © 1999-2019 MercadoLiebre S.R.L. */

/* body{
     border: 2px solid;
     
} */
/* === COLORES ===
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666666;
Gris claro: #ebebeb;
Verde: #39b54a;*/
header {
     background-color: #EAC926;
     padding: 20px;
     font-family: 'Roboto', sans-serif;
}

ul {
     list-style-type: none;
}

a {
     text-decoration: none;
}

.container {
     z-index: 1;
}

.btn-style {
     margin: 0 auto;
     background-color: #03264C;
     color: white;
}

.ul-1 {
     margin-left: 0 !important;
}

a {
     color: black;
}

.banner img {
     width: 100%;
}


/* ---------------------------------------------------------CUERPO------------------------------------------------------------------------- */
main {
     background-color: #ebebeb;
}

.img-product {
     width: 100%;
     border-bottom: 1px solid #ebebeb;
     /* height: 300px; */
}

.separator-product .col-md-6,
.col-lg-3 {
     margin-bottom: 30px;
}

.ofer-visit {
     padding-top: 20px;
     padding-bottom: 30px;
     color: #666666;
}

.primerh4 {
     padding-top: 60px;
}

.camion {
     position: relative;
}

/* 39b54a */
.rotar {
     color: #39b54a;
     font-size: 20px;
     padding: 7px;
     border: 1px solid #39b54a;
     border-radius: 150px;
     position: absolute;
     bottom: -2.5vh;
     right: 3%;
     background-color: white;
     animation: rotation 1s linear;
}

.rotar:hover {
     animation: rotation 1s linear;
}

@keyframes rotation {
     from {
          transform: rotate(0deg);
     }

     to {
          transform: rotate(359deg);
     }
}

.precios {
     overflow: hidden;
     padding-top: 20px;
     background-color: white;
}

.precios h3 {
     /* border:1px solid green; */
     float: left;
     display: block;
     padding-left: 10px;
}

.precios p {
     color: #39b54a;
     float: left;
     font-size: 15px;
     margin-top: 6px;
     margin-left: 10px;
     padding: 0;
     /* border: 1px solid tomato; */
}

.description {
      /* display: none; */
     color: black !important;
     height: 40vh;
}
/* .img-product:hover{
    .description{
         
    }
} */





/* -------PRODUCTO---------- */

.title {
     padding-top: 40px;
     color: #666666;
}

.imagenProducto img {
     width: 80%;
     margin-left: 55px;
}

@media(min-width:993px) {
     .descriptionProduct {
          border-left: 1px solid #ebebeb;
     }
}

.fila {
     background-color: white;
     margin-bottom: 70px;
     /* border: 2px solid tomato; */
}

.name-product {
     margin-top: 30px;
     margin-bottom: 20px;
}

.price {
     overflow: hidden;
}

.priceNo {
     float: left;
     text-decoration: line-through;
     color: #39b54a;
}

.descuento {
     float: left;
     color: #39b54a;
}

.price-real {
     font-size: 70px;
     margin-top: -40px;
     margin-bottom: 20px;
}
.cards-font{
     margin-bottom: 50px;
}
.icon-product {
     font-size: 20px;
     color: #39b54a;
     margin-right: 15px;
}

.btn-comprar{
     text-align: center;
     width:100%;
     /* background-color: #03264C; */
     border-style: none;
}


/* -------PRODUCTO---------- */
/* ---------------------------------------------------------------pie------------------------------------------------------------------------ */
footer {
     padding-top: 30px;
     text-align: center;
}

footer i {
     color: #1259c3;
     font-size: 30px;
     margin-bottom: 20px;
}

footer h4 {
     margin-bottom: 30px;
}

footer p {
     margin-bottom: 50px;
     font-size: 15px;
     font-family: 'Roboto', sans-serif;
}

.espacios {
     border-bottom: 1px solid #ebebeb;
}

.derechos {
     text-align: start;
     padding-top: 10px;
     color: #666666;
}